In [5]:
import sqlite3
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from plotly.offline import init_notebook_mode, iplot,plot
import plotly as py
init_notebook_mode(connected=True)
import matplotlib.pyplot as plt
import networkx as nx

In [3]:
con = sqlite3.connect("Clubhouse_Dataset_v1.db")

In [8]:
users_df = pd.read_sql_query("Select * from user",con)
users_df

,user_id,name,photo_url,username,twitter,instagram,num_followers,num_following,time_created,invited_by_user_profile
0,4,Rohan Seth,https://clubhouseprod.s3.amazonaws.com:443/4_b...,rohan,rohanseth,null,4187268,599,2020-03-17T07:51:28.085566+00:00,null
1,5,Paul Davison,https://clubhouseprod.s3.amazonaws.com:443/5_e...,paul,pdavison,null,3718334,1861,2020-03-17T14:36:19.468976+00:00,null
2,8,Johnny Appleseed,None,apple1,null,srt_tester_9,20,81,2020-03-19T19:47:00.323603+00:00,null
3,10,DK üñç,https://clubhouseprod.s3.amazonaws.com:443/10_...,dk,dksf,null,49538,173,2020-03-19T23:38:52.574777+00:00,null
4,12,Jonathan Gheller,https://clubhouseprod.s3.amazonaws.com:443/12_...,jonathan,jgheller,null,21250,81,2020-03-20T02:30:22.188084+00:00,null
...,...,...,...,...,...,...,...,...,...,...
1300510,1499995,Kimberly Walton,None,kimberlywalton,null,null,3,19,2021-01-19T22:06:10.870596+00:00,2082052
1300511,1499996,Kandi Ore,https://clubhouseprod.s3.amazonaws.com:443/149...,shawtyfwe,Shawtyfwe,shawtyfwe,79,47,2021-01-01T21:06:18.711920+00:00,175468
1300512,1499997,Christina Williams,https://clubhouseprod.s3.amazonaws.com:443/149...,stinadoesmyhair,null,stinadoesmyhair,12,67,2021-01-01T21:07:31.830834+00:00,357504
1300513,1499998,Tyeshia Smith,https://clubhouseprod.s3.amazonaws.com:443/149...,tytysmith85,null,null,17,75,2021-01-05T04:07:10.033138+00:00,741419
1300514,1499999,Madison D.,https://clubhouseprod.s3.amazonaws.com:443/149...,deeedollas,thedolldeee,null,19,65,2021-01-01T21:02:26.687273+00:00,329112

In [15]:
print(users_df.isnull().sum())

user_id                        0
name                           0
photo_url                  63878
username                       0
twitter                        0
instagram                      0
num_followers                  0
num_following                  0
time_created                   0
invited_by_user_profile        0
dtype: int64

In [16]:
print(users_df.isnull().any())

user_id                    False
name                       False
photo_url                   True
username                   False
twitter                    False
instagram                  False
num_followers              False
num_following              False
time_created               False
invited_by_user_profile    False
dtype: bool

In [17]:
users_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1300515 entries, 0 to 1300514
Data columns (total 10 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   user_id                  1300515 non-null  int64
 1   name                     1300515 non-null  object
 2   photo_url                1236637 non-null  object
 3   username                 1300515 non-null  object
 4   twitter                  1300515 non-null  object
 5   instagram                1300515 non-null  object
 6   num_followers            1300515 non-null  int64
 7   num_following            1300515 non-null  int64
 8   time_created             1300515 non-null  object
 9   invited_by_user_profile  1300515 non-null  object
dtypes: int64(3), object(7)
memory usage: 99.2+ MB

In [18]:
users_df = users_df.replace(to_replace='null',value='')

In [19]:
users_df['time_created'] = pd.to_datetime(users['time_created']).apply(lambda x:x.date())

,user_id,name,photo_url,username,twitter,instagram,num_followers,num_following,time_created,invited_by_user_profile
0,4,Rohan Seth,https://clubhouseprod.s3.amazonaws.com:443/4_b...,rohan,rohanseth,,4187268,599,2020-03-17T07:51:28.085566+00:00,
1,5,Paul Davison,https://clubhouseprod.s3.amazonaws.com:443/5_e...,paul,pdavison,,3718334,1861,2020-03-17T14:36:19.468976+00:00,
2,8,Johnny Appleseed,None,apple1,,srt_tester_9,20,81,2020-03-19T19:47:00.323603+00:00,
3,10,DK üñç,https://clubhouseprod.s3.amazonaws.com:443/10_...,dk,dksf,,49538,173,2020-03-19T23:38:52.574777+00:00,
4,12,Jonathan Gheller,https://clubhouseprod.s3.amazonaws.com:443/12_...,jonathan,jgheller,,21250,81,2020-03-20T02:30:22.188084+00:00,
...,...,...,...,...,...,...,...,...,...,...
1300510,1499995,Kimberly Walton,None,kimberlywalton,,,3,19,2021-01-19T22:06:10.870596+00:00,2082052
1300511,1499996,Kandi Ore,https://clubhouseprod.s3.amazonaws.com:443/149...,shawtyfwe,Shawtyfwe,shawtyfwe,79,47,2021-01-01T21:06:18.711920+00:00,175468
1300512,1499997,Christina Williams,https://clubhouseprod.s3.amazonaws.com:443/149...,stinadoesmyhair,,stinadoesmyhair,12,67,2021-01-01T21:07:31.830834+00:00,357504
1300513,1499998,Tyeshia Smith,https://clubhouseprod.s3.amazonaws.com:443/149...,tytysmith85,,,17,75,2021-01-05T04:07:10.033138+00:00,741419
1300514,1499999,Madison D.,https://clubhouseprod.s3.amazonaws.com:443/149...,deeedollas,thedolldeee,,19,65,2021-01-01T21:02:26.687273+00:00,329112